* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
   
}

.box {
    position: relative;
    width: 700px;
    height: 700px;
    /* background:#0F1729; */
    margin: 20px 40px;
    overflow: hidden
}

.box::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 88px;
    width: 500px;
    height: 500px;

    z-index: 5;
    border-radius: 50%;
    box-shadow: 0 100px 0 10px #0F1729;
}

.box::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 6px solid transparent;
    /* border-bottom: 6px solid #000; */
}

.box .circle {
    position: absolute;
    bottom: 0;
    left: 88px;
    width: 500px;
    height: 500px;
    background: linear-gradient(to bottom right,
            hsl(var(--primary)),
            hsl(var(--accent)));
    overflow: hidden;
    border-radius: 50%;
    /* border: 6px solid #000 */

}

.box .circle img,
.box img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 700px;
    z-index: 2;
}